*{
	box-sizing:border-box;
}
body{
	background-color:lightblue;
}
input[id='submit']:hover,button:hover{
	box-shadow: 2px 2px 5px grey;
}
button ,input[id='submit']{
	border-radius:6px;
	border:black 1px solid;
}
input{
	margin:10px 0px;
}
															}

